apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: docker
  namespace: registry
  labels:
    app: docker
  annotations:
    ingress.kubernetes.io/secure-backends: "true"
spec:
  tls:
  - secretName: docker.registry.${platform_domain_name?:"platform_domain_name must be set"}.tls
    hosts:
    - docker.registry.${platform_domain_name?:"platform_domain_name must be set"}
  rules:
  - host: docker.registry.${platform_domain_name?:"platform_domain_name must be set"}
    http:
      paths:
      - backend:
          serviceName: docker
          servicePort: 443
        path: /
