apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: docker-registry
  name: docker-registry
data:
  config.yml: |
    version: 0.1
    auth:
      token:
        realm: https://portus.registry.${platform_domain_name?:"platform_domain_name must be set"}/v2/token
        service: docker.registry.${platform_domain_name?:"platform_domain_name must be set"}
        issuer: portus.registry.${platform_domain_name?:"platform_domain_name must be set"}
        rootcertbundle: /etc/ssl/portus/tls.crt
    debug:
      addr: :5001
    health:
      storagedriver:
        enabled: true
        interval: 10s
        threshold: 3
    http:
      addr: :5000
      host: docker.registry.${platform_domain_name?:"platform_domain_name must be set"}
      tls:
        certificate: /etc/ssl/docker/tls.crt
        key: /etc/ssl/docker/tls.key
      headers:
        X-Content-Type-Options: [nosniff]
    log:
      level: info
      fields:
        service: registry
    maintenance:
      uploadpurging:
        enabled: true
        age: 168h
        interval: 24h
        dryrun: false
      readonly:
        enabled: false
    notifications:
      endpoints:
      - name: portus
        url: https://portus.registry.svc.cluster.local/v2/webhooks/events
        timeout: 3000ms
        threshold: 5
        backoff: 1s
    storage:
      s3:
        region: us-west-2
        bucket: a0098-team
        encrypt: true
        rootdirectory: /${platform_env?:platform_env must be set}/applications/registry/data
        secure: true
        v4auth: true
        chunksize: 10485760 # 10 * 1024 * 1024
      redirect:
        disable: true
      delete:
        enabled: true
      cache:
        blobdescriptor: inmemory
