apiVersion: v1
kind: Service
metadata:
  name: portus
  labels:
    app: portus
  namespace: registry
spec:
  ports:
  - name: https
    port: 443
    targetPort: 9292
  # - name: http
  #   port: 80
  #   targetPort: 9292
  selector:
    app: portus