apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: portus
  namespace: registry
  labels:
    app: portus
  annotations:
    ingress.kubernetes.io/secure-backends: "true"
spec:
  tls:
  - secretName: portus.registry.${platform_domain_name?:"platform_domain_name must be set"}.tls
    hosts:
    - portus.registry.${platform_domain_name?:"platform_domain_name must be set"}
  rules:
  - host: portus.registry.${platform_domain_name?:"platform_domain_name must be set"}
    http:
      paths:
      - backend:
          serviceName: portus
          servicePort: 443
        path: /
