apiVersion: v1
kind: Secret
metadata:
  name: portus-db
data:
  db-name: ${db_name?:db_name must be set}
  hostname: ${hostname?:hostname must be set}
  password: ${password?:password must be set}
  username: ${username?:username must be set}
type: Opaque
