apiVersion: v1
kind: Secret
metadata:
  name: ${tls_secret_name?:tls_secret_name must be set}.tls
data:
  tls.crt: |
    {{{ base64enc "${build}/tls/${tls_secret_name}.crt" | indent "    " }}}
  tls.key: |
    {{{ base64enc "${build}/tls/${tls_secret_name}.key" | indent "    " }}}
type: kubernetes.io/tls
